
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/new_backround.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    filter: blur(15px);
    /* position: relative; Ensure proper stacking context */
}

.hidden {
    display: none;
}

@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-up {
    animation: slideUp 0.5s ease-out forwards;
    display: block; /* Ensure it's visible */
  }

@font-face {
    font-family: 'Carbo';
    src: url('../Fonts/fire.otf') format('truetype');

}
.logo {
    position: absolute;
    top: 2%;
    left: 46.1%;
    width: 150px;
    height: auto;
}

h1 {
    position: absolute;
    top: 12%;
    left: 38%;
    font-size: 300%;
    font-family: 'Carbo', serif;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
}

.star-wars {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 27%;
    height: 60%;
    padding: 20px;
    background-color:  rgba(15, 128, 30, 0.5);
    border-radius: 20px;
}

.star-wars img{
    
    align-items: center;

}


.Ping-pong {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 27%;
    height: 60%;
    padding: 20px;
    background-color:  rgba(15, 128, 30, 0.5);
    border-radius: 20px;
}

.Ping-pong img{
    
    align-items: center;

}

.star-button button{
    position: absolute;
    bottom: 5%;
    left:30%;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);


}

.ping-button button{
    position: absolute;
    bottom: 5%;
    left:30%;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);

}


.button-Profile {
    position: absolute;
    top: 5%;
    left: 17%;
}

.button-Tournoi {
    position: absolute;
    top: 5%;
    right: 30%;
}

.button-Chat {
    position: absolute;
    top: 5%;
    right: 20%;
}

.button-Settings {
    position: absolute;
    top: 5%;
    right: 7%;
}

.button-Home {
    position: absolute;
    top: 5%;
    left: 7%;
}

button {
    font-family: 'Carbo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}


.button-Game button {
    position: absolute;
    top: 5%;
    left: 30%;
    font-family: 'Carbo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 250%;
    color: #26D10A;
    text-align: center;
    background: none;
    border: none;
}

@media (max-width : 1400px){


    .logo {
        position: absolute;
        top: 2%;
        left: 45%;
        width: 12%;
        height: auto;
    }

    

    h1 {
        position: absolute;
        top: 12%;
        left: 34%;
        font-size: 250%;
        font-family: 'Carbo', serif;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    }
    .star-wars {
        position: absolute;
        top: 30%;
        right: 15%;
        width: 30%;
        height: 50%;
        padding: 20px;
        background-color:  rgba(15, 128, 30, 0.5);
        border-radius: 20px;
    }

    .star-wars img{
        position: absolute;
        align-items: center;
        width: 90%;
        height: 60%;
    }


    .Ping-pong {
        position: absolute;
        top: 30%;
        left: 15%;
        width: 30%;
        height: 50%;
        padding: 20px;
        background-color:  rgba(15, 128, 30, 0.5);
        border-radius: 20px;
    }

    .Ping-pong img{
        
        position: absolute;
        align-items: center;
        width: 90%;
        height: 60%;

    }
    .star-button button{
        position: absolute;
        bottom: 10%;
        left:40%;
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    
    
    }
    
    .ping-button button{
        position: absolute;
        bottom: 10%;
        left:40%;
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    
    }
    .button-Profile {
        position: absolute;
        top: 5%;
        left: 17%;
    }
    
    .button-Home {
        position: absolute;
        top: 5%;
        left: 7%;
    }
    
    .button-Tournoi {
        position: absolute;
        top: 5%;
        right: 30%;
    }
    
    .button-Chat {
        position: absolute;
        top: 5%;
        right: 20%;
    }
    
    .button-Settings {
        position: absolute;
        top: 5%;
        right: 7%;
    }
    
    button {
        font-family: 'Carbo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 200%;
        color: #ffffff;
        text-align: center;
        background: none;
        border: none;
    }
    
    .button-Game button {
        position: absolute;
        top: 5%;
        left: 30%;
        font-family: 'Carbo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 250%;
        color: #26D10A;
        text-align: center;
        background: none;
        border: none;
    }
}