body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/new_backround.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    filter: blur(15px);
    /* position: relative; Ensure proper stacking context */
}

@font-face {
    font-family: 'HotdogsDemo';
    src: url('../Fonts/hotdogsdemo.ttf') format('truetype');

}
.logo {
    position: absolute;
    top: 2%;
    left: 46.1%;
    width: 150px; /* Adjust the size as needed */
    height: auto; /* Maintain the aspect ratio */
}

.circle {
    position: absolute;
    top: 15%;
    left: 45%;
    width: 10%;
    height: 18%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.circle img {
    position: absolute;
    width: 120%;
    height: auto;
    object-fit: cover;
}

.Done {
    position: absolute;
    bottom: 5%;
    right: 46%;
}

.Done button {
    font-family: 'HotdogsDemo', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 300%;
    color: #ffffff;
    background-color: rgba(15, 157, 53, 0.6);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    border-radius: 10px;
}

/* @font-face {
    font-family: myFont;
    src: url(../../my_fonts/Roboto-Light.ttf);
} */

.Infos {
    position: absolute;
    top: 37%;
    left: 25%;
    /* font-family: myFont; */
    text-transform: uppercase;
    font-size: 70%;
    color: #26D10A;

}

/* @font-face {
    font-family: nameFont;
    src: url(../../my_fonts/namefont.ttf);
} */

.f_name {
    color: #f1f0f0;
    background-color: rgba(15, 157, 53, 0.3);
    /* font-family: nameFont; */
    font-size: 200%;
    width: 400%;
}

.Avatar {
    background-color: rgba(15, 157, 53, 0.3);
}

.button-Profile {
    position: absolute;
    top: 5%;
    left: 17%;
}

.button-Game {
    position: absolute;
    top: 5%;
    left: 30%;
}

.button-Chat {
    position: absolute;
    top: 5%;
    right: 20%;
}

.button-Tournoi {
    position: absolute;
    top: 5%;
    right: 30%;
}

.button-Home {
    position: absolute;
    top: 5%;
    left: 7%;
}

button {
    font-family: 'HotdogsDemo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 250%;
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}

.button-Settings button {
    position: absolute;
    top: 5%;
    right: 7%;
    font-family: 'HotdogsDemo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 300%;
    color: #26D10A;
    text-align: center;
    background: none;
    border: none;
}

@media (max-width : 1400px){
    .logo {
        position: absolute;
        top: 2%;
        left: 45%;
        width: 12%;
        height: auto;
    }
    .circle {
        position: absolute;
        top: 20%;
        left: 45%;
        width: 10%;
        height: 12%;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
    }
    
    .circle img {
        position: absolute;
        width: 120%;
        height: auto;
        object-fit: cover;
    }

    .Done {
        position: absolute;
        bottom: 10%;
        right: 45%;
    }
    
    .Done button {
        font-family: 'HotdogsDemo', serif;
        font-weight: 200;
        font-style: normal;
        font-size: 250%;
        color: #ffffff;
        background-color: rgba(15, 157, 53, 0.6);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
        border-radius: 10px;
    }
    
    @font-face {
        font-family: myFont;
        src: url(../../my_fonts/Roboto-Light.ttf);
    }
    
    .Infos {
        position: absolute;
        top: 40%;
        left: 20%;
        font-family: myFont;
        text-transform: uppercase;
        font-size: 60%;
        color: #26D10A;
    
    }
    
    @font-face {
        font-family: h1Font;
        src: url(../../my_fonts/namefont.ttf);
    }
    
    .button-Profile {
        position: absolute;
        top: 5%;
        left: 17%;
    }
    
    .button-Home {
        position: absolute;
        top: 5%;
        left: 7%;
    }
    
    .button-Tournoi {
        position: absolute;
        top: 5%;
        right: 30%;
    }
    
    .button-Chat {
        position: absolute;
        top: 5%;
        right: 20%;
    }
    
    .button-Game {
        position: absolute;
        top: 5%;
        left: 30%;
    }
    
    button {
        font-family: 'HotdogsDemo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 200%;
        color: #ffffff;
        text-align: center;
        background: none;
        border: none;
    }
    
    .button-Settings button {
        position: absolute;
        top: 5%;
        right: 7%;
        font-family: 'HotdogsDemo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 250%;
        color: #26D10A;
        text-align: center;
        background: none;
        border: none;
    }
}