body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/new_backround.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    filter: blur(15px);
    /* position: relative; Ensure proper stacking context */
}

@font-face {
    font-family: 'HotdogsDemo';
    src: url('../Fonts/hotdogsdemo.ttf') format('truetype');

}

.logo {
    position: absolute;
    top: 2%;
    left: 46.1%;
    width: 150px; /* Adjust the size as needed */
    height: auto; /* Maintain the aspect ratio */
}

.rectang h1 {
    position: absolute;
    font-family: 'HotdogsDemo', serif;
    font-size: 500%;
    top: 17%;
    left: 7%;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);

}

.rectang h2 {
    position: absolute;
    font-family: 'HotdogsDemo', serif;
    font-size: 150%;
    bottom: 30%;
    left: 7%;
    color: #ffffff;
    /* text-shadow: 0 0 10px rgba(0, 255, 0, 0.90); */

}

.tournoi h2 {
    font-family: 'HotdogsDemo', serif;
    font-size: 150%;
    bottom: 20%;
    left: 55%;
    color: #ffffff;
}

.button-tournoi button {
    position: absolute;
    bottom: 10%;
    right: 11%;
    font-family: 'HotdogsDemo', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 300%;
    color: #ffffff;
    background-color: rgba(15, 157, 53, 0.6);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    border-radius: 10px;
}

.circle {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 22.65%;
    height: 40.27%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26D10A;
}

.circle img {
    position: absolute;
    width: 80%;
    height: auto;
    object-fit: cover;
}

.button-container {
    position: absolute;
    top: 74%;
    left: 7%;
}

.button-container button {
    /* padding: 2% 100%; */
    font-family: 'HotdogsDemo', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 300%;
    color: #ffffff;
    background-color: rgba(15, 157, 53, 0.6);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    border-radius: 10px;
}

.button-Profile {
    position: absolute;
    top: 5%;
    left: 17%;
}

.button-Tournoi {
    position: absolute;
    top: 5%;
    right: 30%;
}

.button-Chat {
    position: absolute;
    top: 5%;
    right: 20%;
}

.button-Settings {
    position: absolute;
    top: 5%;
    right: 7%;
}

.button-Home {
    position: absolute;
    top: 5%;
    left: 7%;
}

button {
    font-family: 'HotdogsDemo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 350%;
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}


.button-Game button {
    position: absolute;
    top: 5%;
    left: 30%;
    font-family: 'HotdogsDemo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 450%;
    color: #26D10A;
    text-align: center;
    background: none;
    border: none;
}

@media (max-width : 1400px){

    .logo {
        position: absolute;
        top: 2%;
        left: 45%;
        width: 12%; /* Adjust the size as needed */
        height: auto; /* Maintain the aspect ratio */
    }
    
    .rectang h1 {
        position: absolute;
        font-family: 'HotdogsDemo', serif;
        font-size: 350%;
        top: 17%;
        left: 7%;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    
    }
    
    .game-h2 h2 {
        position: absolute;
        font-family: 'HotdogsDemo', serif;
        font-size: 110%;
        top: 45%;
        left: 7%;
        color: #ffffff;
        /* text-shadow: 0 0 10px rgba(0, 255, 0, 0.90); */
    
    }
    .tournoi h2 {
        font-family: 'HotdogsDemo', serif;
        font-size: 110%;
        bottom: 30%;
        left: 55%;
        color: #ffffff;
    }
    
    
    .button-tournoi button {
        position: absolute;
        bottom: 20%;
        right: 11%;
        font-family: 'HotdogsDemo', serif;
        font-weight: 200;
        font-style: normal;
        font-size: 250%;
        color: #ffffff;
        background-color: rgba(15, 157, 53, 0.6);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
        border-radius: 10px;
    }
    
    .circle {
        position: absolute;
        top: 20%;
        right: 7%;
        width: 28%;
        height: 30%;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #26D10A;
    }
    
    .circle img {
        position: absolute;
        width: 80%;
        height: auto;
        object-fit: cover;
    }
    
    .button-container {
        position: absolute;
        top: 60%;
        left: 7%;
    }
    
    .button-container button {
        font-family: 'HotdogsDemo', serif;
        font-weight: 200;
        font-style: normal;
        font-size: 250%;
        color: #ffffff;
        background-color: rgba(15, 157, 53, 0.6);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
        border-radius: 10px;
    }

    .button-Profile {
        position: absolute;
        top: 5%;
        left: 17%;
    }
    
    .button-Home {
        position: absolute;
        top: 5%;
        left: 7%;
    }
    
    .button-Tournoi {
        position: absolute;
        top: 5%;
        right: 30%;
    }
    
    .button-Chat {
        position: absolute;
        top: 5%;
        right: 20%;
    }
    
    .button-Settings {
        position: absolute;
        top: 5%;
        right: 7%;
    }
    
    button {
        font-family: 'HotdogsDemo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 200%;
        color: #ffffff;
        text-align: center;
        background: none;
        border: none;
    }
    
    .button-Game button {
        position: absolute;
        top: 5%;
        left: 30%;
        font-family: 'HotdogsDemo', serif;
        font-weight: 100;
        font-style: normal;
        font-size: 250%;
        color: #26D10A;
        text-align: center;
        background: none;
        border: none;
    }
}